<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Review - Home</title>
    <style>
        *::-webkit-scrollbar-track
        {
            background-color: #252525;
        }

        *::-webkit-scrollbar
        {
            width: 12px;
            background-color: #100c20;
        }

        *::-webkit-scrollbar-thumb
        {
            background-color: #100c20;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }
        .modal-content {
            background-color: #2d3748;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            border-radius: 8px;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        .post-image {
            max-height: 300px;
            margin-left: 20px;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #1a202c;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body class="bg-gray-900 text-white">

    <!-- Header -->
    <nav class="bg-gray-800 p-4 flex justify-between items-center">
        <a href="/" class="text-2xl"><i class="fas fa-home"></i></a>
        <div>
            <% if (user) { %>
                <a href="/profile" class="mr-4"><%= user.username %></a>
                <a href="/logout" class="mr-4">Logout</a>
                <% if (user.isAdmin) { %>
                    <a href="/admin" class="mr-4">Admin</a>
                <% } %>
            <% } else { %>
                <a href="/login" class="mr-4">Login</a>
                <a href="/register">Register</a>
            <% } %>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto p-4 min-h-screen pb-20">

        <div class="flex justify-center mb-4">
            <button onclick="openModal('filterModal')" class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded mx-2">Toggle Filter</button>
            <button onclick="openModal('addPostModal')" class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded mx-2">Add a New Value</button>
        </div>

        <form id="category-select-form" class="mb-4 text-center">
            <label for="category-select" class="mr-2">Select Category:</label>
            <select id="category-select" name="category" class="bg-gray-700 text-white py-1 px-2 rounded" onchange="document.getElementById('category-select-form').submit()">
                <option value="category1" <%= selectedCategory === 'category1' ? 'selected' : '' %>>Category 1</option>
                <option value="category2" <%= selectedCategory === 'category2' ? 'selected' : '' %>>Category 2</option>
                <option value="category3" <%= selectedCategory === 'category3' ? 'selected' : '' %>>Category 3</option>
            </select>
        </form>

        <div class="bg-gray-800 p-4 rounded-lg">
            <% categorizedItems[selectedCategory].forEach(item => { %>
                <div class="bg-gray-700 p-4 mb-4 rounded-lg shadow-lg flex items-start">
                    <div class="flex-grow">
                        <div class="flex justify-between items-center mb-2">
                            <div class="text-gray-400" ><a href="/profile/<%= item.creator %>" class="text-blue-400 hover:underline"><%= item.creator %></a> <%= new Date(item.timestamp).toLocaleString() %></div>
                            <div class="relative">
                                <button onclick="toggleDropdown('dropdown-<%= item.id %>')" class="text-gray-400"><i class="fas fa-ellipsis-v"></i></button>
                                <div id="dropdown-<%= item.id %>" class="dropdown-content hidden absolute right-0 bg-gray-800 text-white py-2 rounded shadow-lg">
                                    <form action="/remove/<%= item.id %>" method="POST">
                                        <button type="submit" class="block w-full text-left px-4 py-2">Remove</button>
                                    </form>
                                    <button type="button" onclick="openEditModal('<%= item.id %>', '<%= item.value %>', '<%= item.imageLink %>')" class="block w-full text-left px-4 py-2">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="text-2xl mb-4"><%= item.value %></div>
                        <div class="flex justify-between items-center">
                            <form action="<%= userLikes[item.id] ? '/unlike/' : '/like/' %><%= item.id %>" method="POST">
                                <button type="submit" class="focus:outline-none">
                                    <i class="fas fa-heart <%= userLikes[item.id] ? 'text-red-500' : 'text-white' %>"></i>
                                </button>
                            </form>
                            <div><%= likes[item.id] && likes[item.id].length > 0 ? 'Liked by: ' + likes[item.id].join(', ') : 'No likes yet!' %></div>
                        </div>
                    </div>
                    <% if (item.imageLink) { %>
                        <img src="<%= item.imageLink %>" alt="Post Image" class="post-image">
                    <% } %>
                </div>
            <% }) %>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-gray-800 p-4 text-center mt-auto">
        <p>Lawson Hart | &copy; 2024 </p>
    </footer>

    <!-- Filter Modal -->
    <div id="filterModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('filterModal')">&times;</span>
            <h2 class="text-2xl mb-4">Filter</h2>
            <form action="/" method="GET">
                <label for="filter-user" class="block mb-2">Filter by User:</label>
                <select id="filter-user" name="filter-user" class="bg-gray-700 text-white py-1 px-2 rounded w-full mb-4">
                    <option value="">All</option>
                    <% if (items && items.length > 0) { %>
                        <% items.map(item => item.creator).filter((v, i, a) => a.indexOf(v) === i).forEach(creator => { %>
                            <option value="<%= creator %>"><%= creator %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="filter-date" class="block mb-2">Filter by Date:</label>
                <input type="date" id="filter-date" name="filter-date" class="bg-gray-700 text-white py-1 px-2 rounded w-full mb-4">
                <button type="submit" class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded w-full">Filter</button>
            </form>
        </div>
    </div>

    <!-- Add Post Modal -->
    <div id="addPostModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addPostModal')">&times;</span>
            <h2 class="text-2xl mb-4">Add a New Value</h2>
            <form action="/add" method="POST">
                <label for="value" class="block mb-2">Value:</label>
                <input type="text" name="value" id="value" required class="bg-gray-700 text-white py-1 px-2 rounded w-full mb-4">
                <label for="category" class="block mb-2">Category:</label>
                <select name="category" id="category" required class="bg-gray-700 text-white py-1 px-2 rounded w-full mb-4">
                    <option value="category1">Category 1</option>
                    <option value="category2">Category 2</option>
                    <option value="category3">Category 3</option>
                </select>
                <label for="imageUrl" class="block mb-2">Image URL (optional):</label>
                <input type="text" name="imageUrl" id="imageUrl" class="bg-gray-700 text-white py-1 px-2 rounded w-full mb-4">
                <button type="submit" class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded w-full">Add</button>
            </form>
        </div>
    </div>

    <!-- Edit Post Modal -->
    <% categorizedItems[selectedCategory].forEach(item => { %>
        <div id="editModal-<%= item.id %>" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeEditModal('<%= item.id %>')">&times;</span>
                <h2 class="text-2xl mb-4">Edit Post</h2>
                <form id="edit-form-<%= item.id %>" action="/update/<%= item.id %>" method="POST">
                    <input type="hidden" name="id" value="<%= item.id %>">
                    <label for="edit-value-<%= item.id %>" class="block mb-2">Value:</label>
                    <input type="text" name="value" id="edit-value-<%= item.id %>" value="<%= item.value %>" required class="bg-gray-700 text-white py-1 px-2 rounded w-full mb-4">
                    <label for="edit-category-<%= item.id %>" class="block mb-2">Category:</label>
                    <select name="category" id="edit-category-<%= item.id %>" required class="bg-gray-700 text-white py-1 px-2 rounded w-full mb-4">
                        <option value="category1" <%= item.category === 'category1' ? 'selected' : '' %>>Category 1</option>
                        <option value="category2" <%= item.category === 'category2' ? 'selected' : '' %>>Category 2</option>
                        <option value="category3" <%= item.category === 'category3' ? 'selected' : '' %>>Category 3</option>
                    </select>
                    <label for="edit-imageUrl-<%= item.id %>" class="block mb-2">Image URL (optional):</label>
                    <input type="text" name="imageUrl" id="edit-imageUrl-<%= item.id %>" value="<%= item.imageLink %>" class="bg-gray-700 text-white py-1 px-2 rounded w-full mb-4">
                    <button type="submit" class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded w-full">Save</button>
                </form>
            </div>
        </div>
    <% }) %>

    <script>
        function openModal(modalId) {
            document.getElementById(modalId).style.display = 'block';
        }

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = 'none';
        }

        function openEditModal(id, value, imageUrl) {
            openModal('editModal-' + id);
        }

        function closeEditModal(id) {
            closeModal('editModal-' + id);
        }

        function toggleDropdown(dropdownId) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.id !== dropdownId) {
                    openDropdown.classList.add("hidden");
                }
            }
            document.getElementById(dropdownId).classList.toggle("hidden");
        }

        window.onclick = function(event) {
            if (event.target.classList.contains('modal')) {
                closeModal(event.target.id);
            }
        }
    </script>
</body>
</html>
